{% extends "layouts/base.html" %}



{% block content %}
<div>
            <h1>Tornadoes</h1>
            <p>Tornadoes can destroy buildings, flip cars, and create deadly flying debris. Tornadoes are violently rotating columns of air that extend from a thunderstorm to the ground. Tornadoes can: </p>
            <ul>
                <li>
                    <p>Happen anytime and anywhere;</p>
                </li>
                <li>
                    <p>Bring intense winds, over 200 MPH; and</p>
                </li>
                <li>
                    <p>Look like funnels.</p>
                </li>
            </ul>
            <h3>IF YOU ARE UNDER A TORNADO WARNING, FIND SAFE SHELTER RIGHT AWAY</h3>
            <ul>
                <li>
                    <p>If you can safely get to a sturdy building, then do so immediately.</p>
                </li>
                <li>
                    <p>Go to a safe room, basement, or storm cellar.</p>
                </li>
                <li>
                    <p>If you are in a building with no basement, then get to a small interior room on the lowest level.</p>
                </li>
                <li>
                    <p>Stay away from windows, doors, and outside walls.</p>
                </li>
                <li>
                    <p>Go to a safe room, basement, or storm cellar.</p>
                </li>
                <li>
                    <p>Do not get under an overpass or bridge. You’re safer in a low, flat location.</p>
                </li>
                <li>
                    <p>Watch out for flying debris that can cause injury or death.</p>
                </li>
                <li>
                    <p>Use your arms to protect your head and neck.</p>
                </li>
            <h3>
                    <p>HOW TO STAY SAFE WHEN A TORNADO THREATENS</p>
            </h3>
            </ul>
            <h2>Prepare NOW</h2>
            <p>Know your area’s tornado risk. In the U.S., the Midwest and the Southeast have a greater risk for tornadoes.
                Know the signs of a tornado, including a rotating, funnel-shaped cloud; an approaching cloud of debris; or a loud roar—similar to a freight train.
                Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then become familiar with the warning tone.
                Pay attention to weather reports. Meteorologists can predict when conditions might be right for a tornado.
                Identify and practice going to a safe shelter, while following the latest social and physical-distancing and other health safety guidelines from the Centers for Disease Control and Prevention and your local health authorities, in the event of high winds, such as a safe room built using FEMA criteria or a storm shelter built to ICC 500 standards. The next best protection is a small, interior, windowless room on the lowest level of a sturdy building.
                If you must go to a community or group shelter during severe weather, take hand sanitizer and disinfecting wipes to clean, disinfect, deodorize and remove allergens from surfaces.
                Try to keep a safe distance away from others in the shelter if at all possible.</p>
            <h2>Survive DURING</h2>
            <p>Immediately go to a safe location that you identified.
            Take additional cover by shielding your head and neck with your arms and putting materials such as furniture and blankets around you.
            Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and instructions.
            Do not try to outrun a tornado in a vehicle.
            If you are in a car or outdoors and cannot get to a building, cover your head and neck with your arms and cover your body with a coat or blanket, if possible.
            </p>
            Be Safe AFTER
            Keep listening to EAS, NOAA Weather Radio, and local authorities for updated information.
            If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text, bang on a pipe or wall, or use a whistle instead of shouting.
            Stay clear of fallen power lines or broken utility lines.
            Do not enter damaged buildings until you are told that they are safe.
            Save your phone calls for emergencies. Phone systems are often down or busy after a disaster. Use text messaging or social media to communicate with family and friends.
            Be careful during clean-up. Wear thick-soled shoes, long pants, and work gloves.
</div>
{% endblock content %}
